body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 4px;
    border-radius: 8px;
    background-color: lightslategray;
}

.row {
    display: flex;
}

.display {
    border: 2px solid black;
    height: 80px;
    background-color: bisque;
    border-radius: 4px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    justify-content: space-between;
}

.result {
    padding: 0;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.sub-result {
    padding: 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: aliceblue;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    margin: 4px;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.special-btn-red {
    flex: 2;
    background-color: darksalmon;
}

.special-btn-black {
    flex: 2;
    background-color: darkcyan;
}
