.first
.second {
    font-size: 28px;
    font-family: Helvetica,'Times New Roman' ,sans-serif;
    border-color: gray;
}

.first {
    background-color: black;
    color: white;

}

.second {
    background-color: yellow;
}